<div>
  <div>Credit Application Justice Bias scoring and self reporting</div>
  <div><a href="https://fintech.devpost.com/" target="_blank">Finstra - Hack to the future 2020</a></div>
  <div>
    <h3>Why</h3>
    <div>Applying for credit is affected by racial biases. Shame the banks into providing a just system.</div>
  </div>
  <div>
    <h3>How it works</h3>
    <div>After applying for a loan, you submit anonymized data about the results.</div>
    <div>Your identifying details will be removed from the data.</div>
    <div>Part of your submission will include your ethnicity.</div>
    <div>We compare all the submissions and display the lending agencies racial bias.</div>
    <div>Displaying this information should help direct everyone to just lenders.</div>
  </div>
  <app-lender></app-lender>
  <app-application></app-application>
</div>