<div>
  <div style="float:left;"><img src="../assets/logo.png" style="background-color: red; border: 1px solid black;"></div>
  <div style="float:left;">
    <h1>Lender Racial Bias Rank</h1>
    <h2>We call out racial injustice in the financial industry.</h2>
  </div>
  <div style="clear:both;"></div>
  <div class="how">
    <h3>How it works</h3>
    <ul>
      <li>We compare loans from lenders using anonymous loan data.</li>
      <li>A lender with 5 stars has no racial bias</li>
      <li>A lender with 0 stars has a large amount of racial bias.</li>
    </ul>
  </div>
  <div class="how">
    <h3>How can you help?</h3>
    <ul>
    <li>Give your business to the lenders who are more just.</li>
    <li>Submit anonymized data from your loan application to help call out racial injustice.</li>
    </ul>
  </div>
  <app-application></app-application>
  <app-lender></app-lender>
  <div>
    <a href="https://fintech.devpost.com/"><img src="../assets/banner.jpg"></a>
  </div>
  <div>
    <a href="https://fintech.devpost.com/"><img src="../assets/sponsors.jpg"></a>
  </div>
  <div>Send feedback to: ccarrster@gmail.com</div>
  <div>These numbers are just examples for a prototype.</div>
</div>